<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= sName %>
    </title>
    <link rel="stylesheet" href="acts.css">
</head>

<body>
    <header>
        <h1 class="name">
            <%= name %>
        </h1>
    </header>

    <main>
        <ol>
            <% jsonData.forEach(function(record) { %>
                <li class="list_item">

                    <% if (record.chapter) { %>
                        <p>Chapter: <%- record.chapter %>
                        </p>
                        <hr class="partition">
                    <% } %>

                    <% if (record.chapter_title) { %>
                    <p>Chapter Title: <%- record.chapter_title %>
                    </p>
                    <hr class="partition">
                    <% } %>

                    <% if (record.section) { %>
                        <p>Section: <%- record.section %>
                        </p>
                        <hr class="partition">
                    <% } %>

                    <% if (record.title) { %>
                        <p>Chapter Title: <%- record.title %>
                        </p>
                        <hr class="partition">
                    <% } %>

                    <% if (record.description) { %>
                        <p>Description: <%- record.description.replace(/\n/g, '<br>') %>
                        </p>
                    <!-- <hr class="partition"> -->
                    <% } %>

                    <% if (record.section_title) { %>
                        <p>Section Title: <%- record.section_title %>
                        </p>
                        <hr class="partition">
                    <% } %>

                    <% if (record.section_desc) { %>
                        <p>Section Description: <%- record.section_desc.replace(/\n/g, '<br>')
                                %>
                        </p>
                        <!-- <hr class="partition"> -->
                    <% } %>
                </li>
                <div class="horizontal_line">

                </div>
                <% }) %>

        </ol>
    </main>

    <footer>
        <h1>All rights reserved</h1>
    </footer>


</body>

</html>